country-a-service/epps-api/epps-minlog-api/src/main/resources/wsdl/minlog.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:minlog20230425="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.xsd" xmlns:dgws="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" targetNamespace="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.wsdl">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:minlog20230425="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.xsd" xmlns:dgws="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" targetNamespace="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.xsd">
            
  <xs:include schemaLocation="./xsd/minlog2-registration_20230425.xsd"/>
        
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:minlog20230425="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.xsd" xmlns:dgws="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            
  <xs:include schemaLocation="./xsd/medcom.xsd"/>
        
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:minlog20230425="http://www.sundhedsdatastyrelsen.dk/minlog/xml.schema/2023/04/25/minlog2-registration.xsd" xmlns:dgws="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            
  <xs:include schemaLocation="./xsd/wsse.xsd"/>
        
</xs:schema>
  </wsdl:types>
  <wsdl:message name="RegistrationResponseOut">
    <wsdl:part element="minlog20230425:RegistrationResponse" name="RegistrationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MedcomHeader">
    <wsdl:part element="dgws:Header" name="medcomHeader">
    </wsdl:part>
    <xs:documentation>This is a soapheader required part of every request</xs:documentation>
  </wsdl:message>
  <wsdl:message name="SecurityHeader">
    <wsdl:part element="wsse:Security" name="wsseHeader">
    </wsdl:part>
    <xs:documentation>This is a soapheader required part of every request</xs:documentation>
  </wsdl:message>
  <wsdl:message name="DGWSFault">
    <wsdl:part element="dgws:FaultCode" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegistrationRequestIn">
    <wsdl:part element="minlog20230425:RegistrationRequest" name="RegistrationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegisterServicePort">
    <wsdl:operation name="AddRegistrations">
      <wsdl:input message="tns:RegistrationRequestIn" name="addRegistrationRequest">
    </wsdl:input>
      <wsdl:output message="tns:RegistrationResponseOut" name="addRegistrationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DGWSFault" name="DGWSFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterServiceBinding" type="tns:RegisterServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddRegistrations">
      <soap:operation soapAction="AddRegistrations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DGWSFault">
        <soap:fault name="DGWSFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterService">
    <wsdl:port binding="tns:RegisterServiceBinding" name="RegisterServicePort">
      <soap:address location="http://wsdl.nspop.dk/minlog2-registration/20230425/RegisterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>