country-a-service/epps-api/epps-cpr-api/src/main/resources/wsdl/xsd/DetGodeCPROpslag-1.0.4-26.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:medcom="urn:oio:medcom:cprservice:1.0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:medcom:cprservice:1.0.4" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="FrontierResidenceCountryCode" type="medcom:FrontierResidenceCountryCodeType">
        <xs:annotation>
            <xs:documentation>Grænsegænger bopælslandekode.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="FrontierResidenceCountryCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="FrontierResidenceCountry" type="xs:string">
        <xs:annotation>
            <xs:documentation>Grænsegænger bopælsland.</xs:documentation>
        </xs:annotation>
    </xs:element>

</xs:schema>