country-a-service/epps-api/epps-cpr-api/src/main/resources/wsdl/xsd/DetGodeCPROpslag-1.0.4-11.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:medcom="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/" xmlns:cprnr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" schemaLocation="./DetGodeCPROpslag-1.0.4-66.xsd"/>
  <xs:include schemaLocation="./DetGodeCPROpslag-1.0.4-9.xsd"/>
  <xs:include schemaLocation="./DetGodeCPROpslag-1.0.4-10.xsd"/>
  <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="./DetGodeCPROpslag-1.0.4-56.xsd"/>
  <xs:element name="PersonInformationStructure" type="medcom:PersonInformationStructureType">
    <xs:annotation>
      <xs:documentation>Informationer om en Person</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PersonInformationStructureType">
    <xs:annotation>
      <xs:documentation>Informationer i CPR-registret omkring en person.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentPersonCivilRegistrationIdentifier" type="cprnr:PersonCivilRegistrationIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Hvis personen har fået tildelt et nyt cpr-nr angives det
            her.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cpr:RegularCPRPerson">
        <xs:annotation>
          <xs:documentation>Informationer vedr. identifikation af personen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="medcom:PersonAddressStructure">
        <xs:annotation>
          <xs:documentation>Personens postadresse</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>