national-connector/epps-api/epps-ddv-api/src/main/resources/ddv/schemas/2013/12/01/SSI_DrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:vaccinationcard="http://vaccinationsregister.dk/schemas/2013/12/01"
	targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="SSI_DrugStrengthValue.xsd"/>
	<include schemaLocation="SSI_DrugStrengthUnitCode.xsd"/>
	<include schemaLocation="SSI_DrugStrengthUnitText.xsd"/>
	<include schemaLocation="SSI_DrugStrengthText.xsd"/>
	<element name="DrugStrength" type="vaccinationcard:DrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthType">
        <!-- NCP: We simplify this choice to enable more useful code generation at the cost of precision -->
        <!-- Original: -->
        <!--        <choice>-->
        <!--            <sequence>-->
        <!--                <element name="DrugStrengthValue" type="vaccinationcard:DrugStrengthValueType"/>-->
        <!--                <element name="DrugStrengthUnitCode" type="vaccinationcard:DrugStrengthUnitCodeType"/>-->
        <!--                <element name="DrugStrengthUnitText" type="vaccinationcard:DrugStrengthUnitTextType" minOccurs="0"/>-->
        <!--            </sequence>-->
        <!--            <sequence>-->
        <!--                <element name="DrugStrengthValue" type="vaccinationcard:DrugStrengthValueType"/>-->
        <!--                <element name="DrugStrengthText" type="vaccinationcard:DrugStrengthTextType" minOccurs="0"/>-->
        <!--                <element name="DrugStrengthUnitText" type="vaccinationcard:DrugStrengthUnitTextType" minOccurs="0"/>-->
        <!--            </sequence>-->
        <!--        </choice>-->
        <!--		&lt;!&ndash; A convoluted construction for either value+unit, text or both but not neither &ndash;&gt;-->
        <!-- Replacement: -->
        <sequence>
            <element name="DrugStrengthValue" type="vaccinationcard:DrugStrengthValueType" minOccurs="0"/>
            <element name="DrugStrengthUnitCode" type="vaccinationcard:DrugStrengthUnitCodeType" minOccurs="0"/>
            <element name="DrugStrengthUnitText" type="vaccinationcard:DrugStrengthUnitTextType" minOccurs="0"/>
            <element name="DrugStrengthText" type="vaccinationcard:DrugStrengthTextType" minOccurs="0"/>
        </sequence>
        <!-- End replacement -->
	</complexType>
</schema>
