national-connector/epps-api/epps-ddv-api/src/main/resources/ddv/schemas/2013/12/01/SSI_ATC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:vaccinationcard="http://vaccinationsregister.dk/schemas/2013/12/01"
	targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="SSI_ATCCode.xsd"/>
	<include schemaLocation="SSI_ATCText.xsd"/>
	<element name="ATC" type="vaccinationcard:ATCType">
		<annotation>
			<documentation xml:lang="en-GB">Information about ATC group</documentation>
			<documentation xml:lang="da-DK">Information om ATC gruppe</documentation>
		</annotation>
	</element>
	<complexType name="ATCType">
		<sequence>
			<element name="Code" type="vaccinationcard:ATCCodeType" minOccurs="0"/>
			<element name="Text" type="vaccinationcard:ATCTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
