national-connector/epps-api/epps-ddv-api/src/main/resources/ddv/schemas/2013/12/01/SSI_ModificatorPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:vaccinationcard="http://vaccinationsregister.dk/schemas/2013/12/01"
        targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01"
        elementFormDefault="qualified">
	<include schemaLocation="SSI_PersonIdentifier.xsd"/>
	<include schemaLocation="SSI_PersonName.xsd"/>
	<element name="ModificatorPerson" type="vaccinationcard:ModificatorPersonType"/>
	<complexType name="ModificatorPersonType">
		<sequence>
			<element name="Name" type="vaccinationcard:PersonNameType"/>
			<element name="PersonIdentifier" type="vaccinationcard:PersonIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
