country-a-service/epps-api/epps-ddv-api/src/main/resources/wsdl/Covid19VaccinationCard_2021-04-01.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2005/08/addressing/wsdl"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://vaccinationsregister.dk/schemas/2021/04/01"
                  xmlns:cv19card="http://vaccinationsregister.dk/schemas/2021/04/01"
                  xmlns:vaccinationcard20131201="http://vaccinationsregister.dk/schemas/2013/12/01"
				  xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
                  xmlns:sdsd="http://www.sdsd.dk/dgws/2010/08"
				  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
				  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
				  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  targetNamespace="http://vaccinationsregister.dk/schemas/2021/04/01">
    <wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2010/07/01/medcom.xsd" />
		</xs:schema>
		<xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
			<xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd" />
		</xs:schema>

        <xs:schema targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01">
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_TimingList.xsd"/>
        </xs:schema>

		<xs:schema targetNamespace="http://vaccinationsregister.dk/schemas/2021/04/01"  elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 
				schemaLocation="../schemas/2010/07/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
            <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../schemas/cpr/CPR_PersonCivilRegistrationIdentifier.xsd"/>
		
            <xs:include schemaLocation="../schemas/2021/04/01/SSI_GetCovid19VaccinationCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2021/04/01/SSI_GetCovid19VaccinationCardResponse.xsd"/>
 
         </xs:schema>
    </wsdl:types>
    
	<wsdl:message name="SecurityHeader">
		<wsdl:part name="SecurityHeader" element="wsse:Security"/>
	</wsdl:message>

	<wsdl:message name="MedComHeader">
		<wsdl:part name="MedcomHeader" element="medcom:Header"/>
	</wsdl:message> 

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhiteListingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="vaccinationcard20131201:TimingList"/>
    </wsdl:message> 
    
    <wsdl:message name="GetCovid19VaccinationCardRequestMessage_2021_04_01">
        <wsdl:part name="GetCovid19VaccinationCardRequestPart" element="cv19card:GetCovid19VaccinationCardRequest"/>
    </wsdl:message>
    <wsdl:message name="GetCovid19VaccinationCardResponseMessage_2021_04_01">
        <wsdl:part name="GetCovid19VaccinationCardResponsePart" element="cv19card:GetCovid19VaccinationCardResponse"/>
    </wsdl:message>

	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>

    <wsdl:portType name="VaccinationsPortType_2021_04_01">
        <wsdl:operation name="GetCovid19VaccinationCard_2021_04_01">
            <wsdl:input name="GetCovid19VaccinationCardRequestInput_2021_04_01" message="tns:GetCovid19VaccinationCardRequestMessage_2021_04_01"/>
            <wsdl:output name="GetCovid19VaccinationCardResponseOutput_2021_04_01" message="tns:GetCovid19VaccinationCardResponseMessage_2021_04_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
	</wsdl:portType>
    
    <wsdl:binding name="VaccinationsBinding_2021_04_01" type="tns:VaccinationsPortType_2021_04_01">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--wsaw:UsingAddressing wsdl:required="true" /-->

        <wsdl:operation name="GetCovid19VaccinationCard_2021_04_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2021/04/01#GetCovid19VaccinationCard"/>
            <wsdl:input name="GetCovid19VaccinationCardRequestInput_2021_04_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCovid19VaccinationCardResponseOutput_2021_04_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
  
    </wsdl:binding>
    
    <wsdl:service name="VaccinationsService_2021_04_01">
        <wsdl:port name="VaccinationsPort" binding="tns:VaccinationsBinding_2021_04_01">
            <soap:address location="http://localhost:8080/ddv/ws/VaccinationsService_2021_04_01"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
