country-a-service/epps-api/epps-ddv-api/src/main/resources/wsdl/vaccinationsService_2013-12-01-E1.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2005/08/addressing/wsdl"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://vaccinationsregister.dk/schemas/2013/12/01"
                  xmlns:vaccinationcard20131201="http://vaccinationsregister.dk/schemas/2013/12/01"
                  xmlns:vaccinationcard20131201e1="http://vaccinationsregister.dk/schemas/2013/12/01/E1"
				  xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
                  xmlns:sdsd="http://www.sdsd.dk/dgws/2010/08"
				  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
				  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
				  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01">
    <wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2010/07/01/medcom.xsd" />
		</xs:schema>
		<xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
			<xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd" />
		</xs:schema>

		<xs:schema targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01"  elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 
				schemaLocation="../schemas/2010/07/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
            <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../schemas/cpr/CPR_PersonCivilRegistrationIdentifier.xsd"/>
		
			<xs:include schemaLocation="../schemas/2013/12/01/SSI_OnBehalfOf.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/SSI_TimingList.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationCardIfUpdatedRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationCardIfUpdatedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationHistoryRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationHistoryResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/SSI_DeleteVaccinationRequest.xsd"/>
        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_DeleteVaccinationResponse.xsd"/>
            	
        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreateVaccinationRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreateVaccinationResponse.xsd"/>

        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreatePreviousVaccinationRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreatePreviousVaccinationResponse.xsd"/>

        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_UpdateVaccinationRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_UpdateVaccinationResponse.xsd"/>

        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_DeleteSubscriptionResponse.xsd"/>

        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreateUnsubscriptionResponse.xsd"/>
           	
        	<xs:include schemaLocation="../schemas/2013/12/01/SSI_DeleteUnsubscriptionRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_DeleteUnsubscriptionResponse.xsd"/>
            	
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_DeletePlannedVaccinationResponse.xsd"/>
            	                	
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_GetUnsubscriptionsRequest.xsd"/>
            	                	
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_GetPlannedVaccinationsRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_GetPlannedVaccinationsResponse.xsd"/>
            	                	
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_UpdatePlannedVaccinationRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_UpdatePlannedVaccinationResponse.xsd"/>

           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_EffectuatePlannedVaccinationRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_EffectuatePlannedVaccinationResponse.xsd"/>

           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreateSinglePlannedVaccinationRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_CreateSinglePlannedVaccinationResponse.xsd"/>

           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_SubscribeAndCreatePlannedVaccinationsRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_SubscribeAndCreatePlannedVaccinationsResponse.xsd"/>
 
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationCardAsPDFRequest.xsd"/>
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationCardAsPDFResponse.xsd"/>
 
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationPassportAsPDFRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetVaccinationPassportAsPDFResponse.xsd"/>
 
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_ValidateVaccinationPassportRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_ValidateVaccinationPassportResponse.xsd"/>
 
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_RequestVaccinationPassportHardCopyRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_RequestVaccinationPassportHardCopyResponse.xsd"/>
 
           	<xs:include schemaLocation="../schemas/2013/12/01/SSI_MultiUpdateResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetPermissionsRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetPermissionsResponse.xsd"/>
 
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetCovid19CertificateAsPDFRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/SSI_GetCovid19CertificateAsPDFResponse.xsd"/>

         </xs:schema>
         
		<xs:schema targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01/E1"  elementFormDefault="qualified">

        	<xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_CreateUnsubscriptionRequest.xsd"/>

           	<xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_DeletePlannedVaccinationRequest.xsd"/>

        	<xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_DeleteSubscriptionRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_CreateNotificationUnsubscriptionRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_CreateNotificationUnsubscriptionResponse.xsd"/>
            
            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_DeleteNotificationUnsubscriptionRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_DeleteNotificationUnsubscriptionResponse.xsd"/>
            
            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_GetNotificationUnsubscriptionRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_GetNotificationUnsubscriptionResponse.xsd"/>
            
            <xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_GetUnsubscriptionsResponse.xsd"/>
 
           	<xs:include schemaLocation="../schemas/2013/12/01/E1/SSI_MultiUpdateRequest.xsd"/>
         </xs:schema>
    </wsdl:types>
    
	<wsdl:message name="SecurityHeader">
		<wsdl:part name="SecurityHeader" element="wsse:Security"/>
	</wsdl:message>

	<wsdl:message name="MedComHeader">
		<wsdl:part name="MedcomHeader" element="medcom:Header"/>
	</wsdl:message> 

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhiteListingHeader"/>
    </wsdl:message>

	<wsdl:message name="TimingHeader">
		<wsdl:part name="TimingHeader" element="vaccinationcard20131201:TimingList"/>
	</wsdl:message> 
    
    <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="vaccinationcard20131201:OnBehalfOf"/>
    </wsdl:message> 
    
    <wsdl:message name="GetVaccinationCardRequestMessage_2013_12_01">
        <wsdl:part name="GetVaccinationCardRequestPart" element="vaccinationcard20131201:GetVaccinationCardRequest"/>
    </wsdl:message>
    <wsdl:message name="GetVaccinationCardResponseMessage_2013_12_01">
        <wsdl:part name="GetVaccinationCardResponsePart" element="vaccinationcard20131201:GetVaccinationCardResponse"/>
    </wsdl:message>

    <wsdl:message name="GetVaccinationCardIfUpdatedRequestMessage_2013_12_01">
        <wsdl:part name="GetVaccinationCardIfUpdatedRequestPart" element="vaccinationcard20131201:GetVaccinationCardIfUpdatedRequest"/>
    </wsdl:message>
    <wsdl:message name="GetVaccinationCardIfUpdatedResponseMessage_2013_12_01">
        <wsdl:part name="GetVaccinationCardResponsePart" element="vaccinationcard20131201:GetVaccinationCardResponse"/>
    </wsdl:message>

    <wsdl:message name="GetVaccinationHistoryRequestMessage_2013_12_01">
        <wsdl:part name="GetVaccinationHistoryRequestPart" element="vaccinationcard20131201:GetVaccinationHistoryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetVaccinationHistoryResponseMessage_2013_12_01">
        <wsdl:part name="GetVaccinationHistoryResponsePart" element="vaccinationcard20131201:GetVaccinationHistoryResponse"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="DeleteVaccinationRequestPart" element="vaccinationcard20131201:DeleteVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="DeleteVaccinationResponsePart" element="vaccinationcard20131201:DeleteVaccinationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="CreateVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="CreateVaccinationRequestPart" element="vaccinationcard20131201:CreateVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="CreateVaccinationResponsePart" element="vaccinationcard20131201:CreateVaccinationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="CreatePreviousVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="CreatePreviousVaccinationRequestPart" element="vaccinationcard20131201:CreatePreviousVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePreviousVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="CreatePreviousVaccinationResponsePart" element="vaccinationcard20131201:CreatePreviousVaccinationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="UpdateVaccinationRequestPart" element="vaccinationcard20131201:UpdateVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="UpdateVaccinationResponsePart" element="vaccinationcard20131201:UpdateVaccinationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteSubscriptionRequestMessage_2013_12_01_E1">
        <wsdl:part name="DeleteSubscriptionRequestPart" element="vaccinationcard20131201e1:DeleteSubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteSubscriptionResponseMessage_2013_12_01">
        <wsdl:part name="DeleteSubscriptionResponsePart" element="vaccinationcard20131201:DeleteSubscriptionResponse"/>
    </wsdl:message>

	<wsdl:message name="CreateUnsubscriptionRequestMessage_2013_12_01_E1">
        <wsdl:part name="CreateUnsubscriptionRequestPart" element="vaccinationcard20131201e1:CreateUnsubscriptionRequest"/>
    </wsdl:message>
	<wsdl:message name="CreateUnsubscriptionResponseMessage_2013_12_01">
        <wsdl:part name="CreateUnsubscriptionResponsePart" element="vaccinationcard20131201:CreateUnsubscriptionResponse"/>
    </wsdl:message>
    
	<wsdl:message name="DeleteUnsubscriptionRequestMessage_2013_12_01">
        <wsdl:part name="DeleteUnsubscriptionRequestPart" element="vaccinationcard20131201:DeleteUnsubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteUnsubscriptionResponseMessage_2013_12_01">
        <wsdl:part name="DeleteUnsubscriptionResponsePart" element="vaccinationcard20131201:DeleteUnsubscriptionResponse"/>
    </wsdl:message>
   
    <wsdl:message name="DeletePlannedVaccinationRequestMessage_2013_12_01_E1">
        <wsdl:part name="DeletePlannedVaccinationRequestPart" element="vaccinationcard20131201e1:DeletePlannedVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="DeletePlannedVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="DeletePlannedVaccinationResponsePart" element="vaccinationcard20131201:DeletePlannedVaccinationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="GetUnsubscriptionsRequestMessage_2013_12_01">
        <wsdl:part name="GetUnsubscriptionsRequestPart" element="vaccinationcard20131201:GetUnsubscriptionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetUnsubscriptionsResponseMessage_2013_12_01_E1">
        <wsdl:part name="GetUnsubscriptionsResponsePart" element="vaccinationcard20131201e1:GetUnsubscriptionsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="GetPlannedVaccinationsRequestMessage_2013_12_01">
        <wsdl:part name="GetPlannedVaccinationsRequestPart" element="vaccinationcard20131201:GetPlannedVaccinationsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPlannedVaccinationsResponseMessage_2013_12_01">
        <wsdl:part name="GetPlannedVaccinationsResponsePart" element="vaccinationcard20131201:GetPlannedVaccinationsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="UpdatePlannedVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="UpdatePlannedVaccinationRequestPart" element="vaccinationcard20131201:UpdatePlannedVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdatePlannedVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="UpdatePlannedVaccinationResponsePart" element="vaccinationcard20131201:UpdatePlannedVaccinationResponse"/>
    </wsdl:message>

    <wsdl:message name="EffectuatePlannedVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="EffectuatePlannedVaccinationRequestPart" element="vaccinationcard20131201:EffectuatePlannedVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="EffectuatePlannedVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="EffectuatePlannedVaccinationResponsePart" element="vaccinationcard20131201:EffectuatePlannedVaccinationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateSinglePlannedVaccinationRequestMessage_2013_12_01">
        <wsdl:part name="CreateSinglePlannedVaccinationRequestPart" element="vaccinationcard20131201:CreateSinglePlannedVaccinationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateSinglePlannedVaccinationResponseMessage_2013_12_01">
        <wsdl:part name="CreateSinglePlannedVaccinationResponsePart" element="vaccinationcard20131201:CreateSinglePlannedVaccinationResponse"/>
    </wsdl:message>

    <wsdl:message name="SubscribeAndCreatePlannedVaccinationsRequestMessage_2013_12_01">
        <wsdl:part name="SubscribeAndCreatePlannedVaccinationsRequestPart" element="vaccinationcard20131201:SubscribeAndCreatePlannedVaccinationsRequest"/>
    </wsdl:message>
    <wsdl:message name="SubscribeAndCreatePlannedVaccinationsResponseMessage_2013_12_01">
        <wsdl:part name="SubscribeAndCreatePlannedVaccinationsResponsePart" element="vaccinationcard20131201:SubscribeAndCreatePlannedVaccinationsResponse"/>
    </wsdl:message>

    <wsdl:message name="GetVaccinationCardAsPDFRequestMessage_2013_12_01">
        <wsdl:part name="GetVaccinationCardAsPDFRequestPart" element="vaccinationcard20131201:GetVaccinationCardAsPDFRequest"/>
    </wsdl:message>
    <wsdl:message name="GetVaccinationCardAsPDFResponseMessage_2013_12_01">
        <wsdl:part name="GetVaccinationCardAsPDFResponsePart" element="vaccinationcard20131201:GetVaccinationCardAsPDFResponse"/>
    </wsdl:message>

    <wsdl:message name="GetVaccinationPassportAsPDFRequestMessage_2013_12_01">
        <wsdl:part name="GetVaccinationPassportAsPDFRequestPart" element="vaccinationcard20131201:GetVaccinationPassportAsPDFRequest"/>
    </wsdl:message>
    <wsdl:message name="GetVaccinationPassportAsPDFResponseMessage_2013_12_01">
        <wsdl:part name="GetVaccinationPassportAsPDFResponsePart" element="vaccinationcard20131201:GetVaccinationPassportAsPDFResponse"/>
    </wsdl:message>

    <wsdl:message name="ValidateVaccinationPassportRequestMessage_2013_12_01">
        <wsdl:part name="ValidateVaccinationPassportRequestPart" element="vaccinationcard20131201:ValidateVaccinationPassportRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidateVaccinationPassportResponseMessage_2013_12_01">
        <wsdl:part name="ValidateVaccinationPassportResponsePart" element="vaccinationcard20131201:ValidateVaccinationPassportResponse"/>
    </wsdl:message>

    <wsdl:message name="RequestVaccinationPassportHardCopyRequestMessage_2013_12_01">
        <wsdl:part name="RequestVaccinationPassportHardCopyRequestPart" element="vaccinationcard20131201:RequestVaccinationPassportHardCopyRequest"/>
    </wsdl:message>
    <wsdl:message name="RequestVaccinationPassportHardCopyResponseMessage_2013_12_01">
        <wsdl:part name="RequestVaccinationPassportHardCopyResponsePart" element="vaccinationcard20131201:RequestVaccinationPassportHardCopyResponse"/>
    </wsdl:message>

    <wsdl:message name="MultiUpdateRequestMessage_2013_12_01_E1">
        <wsdl:part name="MultiUpdateRequestPart" element="vaccinationcard20131201e1:MultiUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="MultiUpdateResponseMessage_2013_12_01">
        <wsdl:part name="MultiUpdateResponsePart" element="vaccinationcard20131201:MultiUpdateResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPermissionsRequestMessage_2013_12_01">
        <wsdl:part name="GetPermissionsRequestPart" element="vaccinationcard20131201:GetPermissionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPermissionsResponseMessage_2013_12_01">
        <wsdl:part name="GetPermissionsResponsePart" element="vaccinationcard20131201:GetPermissionsResponse"/>
    </wsdl:message>

    <wsdl:message name="GetCovid19CertificateAsPDFRequestMessage_2013_12_01">
        <wsdl:part name="GetCovid19CertificateAsPDFRequestPart" element="vaccinationcard20131201:GetCovid19CertificateAsPDFRequest"/>
    </wsdl:message>
    <wsdl:message name="GetCovid19CertificateAsPDFResponseMessage_2013_12_01">
        <wsdl:part name="GetCovid19CertificateAsPDFResponsePart" element="vaccinationcard20131201:GetCovid19CertificateAsPDFResponse"/>
    </wsdl:message>

	<!-- 1.4.0.E1 - 2013/12/01/E1 - Extension E1 -->

    <wsdl:message name="CreateNotificationUnsubscriptionRequestMessage_2013_12_01_E1">
        <wsdl:part name="CreateNotificationUnsubscriptionRequestPart" element="vaccinationcard20131201e1:CreateNotificationUnsubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateNotificationUnsubscriptionResponseMessage_2013_12_01_E1">
        <wsdl:part name="CreateNotificationUnsubscriptionResponsePart" element="vaccinationcard20131201e1:CreateNotificationUnsubscriptionResponse"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteNotificationUnsubscriptionRequestMessage_2013_12_01_E1">
        <wsdl:part name="DeleteNotificationUnsubscriptionRequestPart" element="vaccinationcard20131201e1:DeleteNotificationUnsubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteNotificationUnsubscriptionResponseMessage_2013_12_01_E1">
        <wsdl:part name="DeleteNotificationUnsubscriptionResponsePart" element="vaccinationcard20131201e1:DeleteNotificationUnsubscriptionResponse"/>
    </wsdl:message>
    
    <wsdl:message name="GetNotificationUnsubscriptionRequestMessage_2013_12_01_E1">
        <wsdl:part name="GetNotificationUnsubscriptionRequestPart" element="vaccinationcard20131201e1:GetNotificationUnsubscriptionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetNotificationUnsubscriptionResponseMessage_2013_12_01_E1">
        <wsdl:part name="GetNotificationUnsubscriptionResponsePart" element="vaccinationcard20131201e1:GetNotificationUnsubscriptionResponse"/>
    </wsdl:message>

	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>


    <wsdl:portType name="VaccinationsPortType_2013_12_01_E1">
        <wsdl:operation name="GetVaccinationCard_2013_12_01">
            <wsdl:input name="GetVaccinationCardRequestInput_2013_12_01" message="tns:GetVaccinationCardRequestMessage_2013_12_01"/>
            <wsdl:output name="GetVaccinationCardResponseOutput_2013_12_01" message="tns:GetVaccinationCardResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetVaccinationCardIfUpdated_2013_12_01">
            <wsdl:input name="GetVaccinationCardIfUpdatedRequestInput_2013_12_01" message="tns:GetVaccinationCardIfUpdatedRequestMessage_2013_12_01"/>
            <wsdl:output name="GetVaccinationCardIfUpdatedResponseOutput_2013_12_01" message="tns:GetVaccinationCardIfUpdatedResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetVaccinationHistory_2013_12_01">
            <wsdl:input name="GetVaccinationHistoryRequestInput_2013_12_01" message="tns:GetVaccinationHistoryRequestMessage_2013_12_01"/>
            <wsdl:output name="GetVaccinationHistoryResponseOutput_2013_12_01" message="tns:GetVaccinationHistoryResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="DeleteVaccination_2013_12_01">
            <wsdl:input name="DeleteVaccinationRequestInput_2013_12_01" message="tns:DeleteVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="DeleteVaccinationResponseOutput_2013_12_01" message="tns:DeleteVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateVaccination_2013_12_01">
            <wsdl:input name="CreateVaccinationRequestInput_2013_12_01" message="tns:CreateVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="CreateVaccinationResponseOutput_2013_12_01" message="tns:CreateVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="CreatePreviousVaccination_2013_12_01">
            <wsdl:input name="CreatePreviousVaccinationRequestInput_2013_12_01" message="tns:CreatePreviousVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="CreatePreviousVaccinationResponseOutput_2013_12_01" message="tns:CreatePreviousVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateVaccination_2013_12_01">
            <wsdl:input name="UpdateVaccinationRequestInput_2013_12_01" message="tns:UpdateVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="UpdateVaccinationResponseOutput_2013_12_01" message="tns:UpdateVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteSubscription_2013_12_01_E1">
            <wsdl:input name="DeleteSubscriptionRequestInput_2013_12_01_E1" message="tns:DeleteSubscriptionRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="DeleteSubscriptionResponseOutput_2013_12_01" message="tns:DeleteSubscriptionResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateUnsubscription_2013_12_01_E1">
            <wsdl:input name="CreateUnsubscriptionRequestInput_2013_12_01_E1" message="tns:CreateUnsubscriptionRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="CreateUnsubscriptionResponseOutput_2013_12_01" message="tns:CreateUnsubscriptionResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteUnsubscription_2013_12_01">
            <wsdl:input name="DeleteUnsubscriptionRequestInput_2013_12_01" message="tns:DeleteUnsubscriptionRequestMessage_2013_12_01"/>
            <wsdl:output name="DeleteUnsubscriptionResponseOutput_2013_12_01" message="tns:DeleteUnsubscriptionResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="DeletePlannedVaccination_2013_12_01_E1">
            <wsdl:input name="DeletePlannedVaccinationRequestInput_2013_12_01_E1" message="tns:DeletePlannedVaccinationRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="DeletePlannedVaccinationResponseOutput_2013_12_01" message="tns:DeletePlannedVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetUnsubscriptions_2013_12_01_E1">
            <wsdl:input name="GetUnsubscriptionsRequestInput_2013_12_01" message="tns:GetUnsubscriptionsRequestMessage_2013_12_01"/>
            <wsdl:output name="GetUnsubscriptionsResponseOutput_2013_12_01_E1" message="tns:GetUnsubscriptionsResponseMessage_2013_12_01_E1"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="GetPlannedVaccinations_2013_12_01">
            <wsdl:input name="GetPlannedVaccinationsRequestInput_2013_12_01" message="tns:GetPlannedVaccinationsRequestMessage_2013_12_01"/>
            <wsdl:output name="GetPlannedVaccinationsResponseOutput_2013_12_01" message="tns:GetPlannedVaccinationsResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UpdatePlannedVaccination_2013_12_01">
            <wsdl:input name="UpdatePlannedVaccinationRequestInput_2013_12_01" message="tns:UpdatePlannedVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="UpdatePlannedVaccinationResponseOutput_2013_12_01" message="tns:UpdatePlannedVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="EffectuatePlannedVaccination_2013_12_01">
            <wsdl:input name="EffectuatePlannedVaccinationRequestInput_2013_12_01" message="tns:EffectuatePlannedVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="EffectuatePlannedVaccinationResponseOutput_2013_12_01" message="tns:EffectuatePlannedVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateSinglePlannedVaccination_2013_12_01">
            <wsdl:input name="CreateSinglePlannedVaccinationRequestInput_2013_12_01" message="tns:CreateSinglePlannedVaccinationRequestMessage_2013_12_01"/>
            <wsdl:output name="CreateSinglePlannedVaccinationResponseOutput_2013_12_01" message="tns:CreateSinglePlannedVaccinationResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SubscribeAndCreatePlannedVaccinations_2013_12_01">
            <wsdl:input name="SubscribeAndCreatePlannedVaccinationsRequestInput_2013_12_01" message="tns:SubscribeAndCreatePlannedVaccinationsRequestMessage_2013_12_01"/>
            <wsdl:output name="SubscribeAndCreatePlannedVaccinationsResponseOutput_2013_12_01" message="tns:SubscribeAndCreatePlannedVaccinationsResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="GetVaccinationCardAsPDF_2013_12_01">
            <wsdl:input name="GetVaccinationCardAsPDFRequestInput_2013_12_01" message="tns:GetVaccinationCardAsPDFRequestMessage_2013_12_01"/>
            <wsdl:output name="GetVaccinationCardAsPDFResponseOutput_2013_12_01" message="tns:GetVaccinationCardAsPDFResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="GetVaccinationPassportAsPDF_2013_12_01">
            <wsdl:input name="GetVaccinationPassportAsPDFRequestInput_2013_12_01" message="tns:GetVaccinationPassportAsPDFRequestMessage_2013_12_01"/>
            <wsdl:output name="GetVaccinationPassportAsPDFResponseOutput_2013_12_01" message="tns:GetVaccinationPassportAsPDFResponseMessage_2013_12_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="ValidateVaccinationPassport_2013_12_01">
            <wsdl:input name="ValidateVaccinationPassportRequestInput_2013_12_01" message="tns:ValidateVaccinationPassportRequestMessage_2013_12_01"/>
            <wsdl:output name="ValidateVaccinationPassportResponseOutput_2013_12_01" message="tns:ValidateVaccinationPassportResponseMessage_2013_12_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="RequestVaccinationPassportHardCopy_2013_12_01">
            <wsdl:input name="RequestVaccinationPassportHardCopyRequestInput_2013_12_01" message="tns:RequestVaccinationPassportHardCopyRequestMessage_2013_12_01"/>
            <wsdl:output name="RequestVaccinationPassportHardCopyResponseOutput_2013_12_01" message="tns:RequestVaccinationPassportHardCopyResponseMessage_2013_12_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="MultiUpdate_2013_12_01_E1">
            <wsdl:input name="MultiUpdateRequestInput_2013_12_01_E1" message="tns:MultiUpdateRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="MultiUpdateResponseOutput_2013_12_01" message="tns:MultiUpdateResponseMessage_2013_12_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPermissions_2013_12_01">
            <wsdl:input name="GetPermissionsRequestInput_2013_12_01" message="tns:GetPermissionsRequestMessage_2013_12_01"/>
            <wsdl:output name="GetPermissionsResponseOutput_2013_12_01" message="tns:GetPermissionsResponseMessage_2013_12_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
 
        <wsdl:operation name="GetCovid19CertificateAsPDF_2013_12_01">
            <wsdl:input name="GetCovid19CertificateAsPDFRequestInput_2013_12_01" message="tns:GetCovid19CertificateAsPDFRequestMessage_2013_12_01"/>
            <wsdl:output name="GetCovid19CertificateAsPDFResponseOutput_2013_12_01" message="tns:GetCovid19CertificateAsPDFResponseMessage_2013_12_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

    <!-- 1.4.0.E1 - 2013/12/01/E1 - Extension E1 -->
    
        <wsdl:operation name="CreateNotificationUnsubscription_2013_12_01_E1">
            <wsdl:input name="CreateNotificationUnsubscriptionRequestInput_2013_12_01_E1" message="tns:CreateNotificationUnsubscriptionRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="CreateNotificationUnsubscriptionResponseOutput_2013_12_01_E1" message="tns:CreateNotificationUnsubscriptionResponseMessage_2013_12_01_E1"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="DeleteNotificationUnsubscription_2013_12_01_E1">
            <wsdl:input name="DeleteNotificationUnsubscriptionRequestInput_2013_12_01_E1" message="tns:DeleteNotificationUnsubscriptionRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="DeleteNotificationUnsubscriptionResponseOutput_2013_12_01_E1" message="tns:DeleteNotificationUnsubscriptionResponseMessage_2013_12_01_E1"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="GetNotificationUnsubscription_2013_12_01_E1">
            <wsdl:input name="GetNotificationUnsubscriptionRequestInput_2013_12_01_E1" message="tns:GetNotificationUnsubscriptionRequestMessage_2013_12_01_E1"/>
            <wsdl:output name="GetNotificationUnsubscriptionResponseOutput_2013_12_01_E1" message="tns:GetNotificationUnsubscriptionResponseMessage_2013_12_01_E1"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
	</wsdl:portType>
    
    <wsdl:binding name="VaccinationsBinding_2013_12_01_E1" type="tns:VaccinationsPortType_2013_12_01_E1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--wsaw:UsingAddressing wsdl:required="true" /-->

        <wsdl:operation name="GetVaccinationCard_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetVaccinationCard"/>
            <wsdl:input name="GetVaccinationCardRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetVaccinationCardResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
  
        <wsdl:operation name="GetVaccinationCardIfUpdated_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetVaccinationCardIfUpdated"/>
            <wsdl:input name="GetVaccinationCardIfUpdatedRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetVaccinationCardIfUpdatedResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetVaccinationHistory_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetVaccinationHistory"/>
            <wsdl:input name="GetVaccinationHistoryRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetVaccinationHistoryResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
  
       <wsdl:operation name="DeleteVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#DeleteVaccination"/>
            <wsdl:input name="DeleteVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#CreateVaccination"/>
            <wsdl:input name="CreateVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreatePreviousVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#CreatePreviousVaccination"/>
            <wsdl:input name="CreatePreviousVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePreviousVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdateVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#UpdateVaccination"/>
            <wsdl:input name="UpdateVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeleteSubscription_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#DeleteSubscription"/>
            <wsdl:input name="DeleteSubscriptionRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteSubscriptionResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateUnsubscription_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#CreateUnsubscription"/>
            <wsdl:input name="CreateUnsubscriptionRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateUnsubscriptionResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeleteUnsubscription_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#DeleteUnsubscription"/>
            <wsdl:input name="DeleteUnsubscriptionRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteUnsubscriptionResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeletePlannedVaccination_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#DeletePlannedVaccination"/>
            <wsdl:input name="DeletePlannedVaccinationRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeletePlannedVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetUnsubscriptions_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#GetUnsubscriptions"/>
            <wsdl:input name="GetUnsubscriptionsRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetUnsubscriptionsResponseOutput_2013_12_01_E1">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
 
        <wsdl:operation name="GetPlannedVaccinations_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetPlannedVaccinations"/>
            <wsdl:input name="GetPlannedVaccinationsRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPlannedVaccinationsResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdatePlannedVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#UpdatePlannedVaccination"/>
            <wsdl:input name="UpdatePlannedVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdatePlannedVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="EffectuatePlannedVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#EffectuatePlannedVaccination"/>
            <wsdl:input name="EffectuatePlannedVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="EffectuatePlannedVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateSinglePlannedVaccination_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#CreateSinglePlannedVaccination"/>
            <wsdl:input name="CreateSinglePlannedVaccinationRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateSinglePlannedVaccinationResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SubscribeAndCreatePlannedVaccinations_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#SubscribeAndCreatePlannedVaccinations"/>
            <wsdl:input name="SubscribeAndCreatePlannedVaccinationsRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SubscribeAndCreatePlannedVaccinationsResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetVaccinationCardAsPDF_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetVaccinationCardAsPDF"/>
            <wsdl:input name="GetVaccinationCardAsPDFRequestInput_2013_12_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 	
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetVaccinationCardAsPDFResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetVaccinationPassportAsPDF_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetVaccinationPassportAsPDF"/>
            <wsdl:input name="GetVaccinationPassportAsPDFRequestInput_2013_12_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>     
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetVaccinationPassportAsPDFResponseOutput_2013_12_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="ValidateVaccinationPassport_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#ValidateVaccinationPassport"/>
            <wsdl:input name="ValidateVaccinationPassportRequestInput_2013_12_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>     
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ValidateVaccinationPassportResponseOutput_2013_12_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RequestVaccinationPassportHardCopy_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#RequestVaccinationPassportHardCopy"/>
            <wsdl:input name="RequestVaccinationPassportHardCopyRequestInput_2013_12_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>     
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RequestVaccinationPassportHardCopyResponseOutput_2013_12_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPermissions_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetPermissions"/>
            <wsdl:input name="GetPermissionsRequestInput_2013_12_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPermissionsResponseOutput_2013_12_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetCovid19CertificateAsPDF_2013_12_01">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01#GetCovid19CertificateAsPDF"/>
            <wsdl:input name="GetCovid19CertificateAsPDFRequestInput_2013_12_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>     
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCovid19CertificateAsPDFResponseOutput_2013_12_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

	   <!-- 1.4.0.E1 - 2013/12/01/E1 - Extension E1 -->
    
        <wsdl:operation name="MultiUpdate_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#MultiUpdate"/>
            <wsdl:input name="MultiUpdateRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MultiUpdateResponseOutput_2013_12_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="CreateNotificationUnsubscription_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#CreateNotificationUnsubscription"/>
            <wsdl:input name="CreateNotificationUnsubscriptionRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateNotificationUnsubscriptionResponseOutput_2013_12_01_E1">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeleteNotificationUnsubscription_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#DeleteNotificationUnsubscription"/>
            <wsdl:input name="DeleteNotificationUnsubscriptionRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteNotificationUnsubscriptionResponseOutput_2013_12_01_E1">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetNotificationUnsubscription_2013_12_01_E1">
            <soap:operation soapAction="http://vaccinationsregister.dk/schemas/2013/12/01/E1#GetNotificationUnsubscription"/>
            <wsdl:input name="GetNotificationUnsubscriptionRequestInput_2013_12_01_E1">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetNotificationUnsubscriptionResponseOutput_2013_12_01_E1">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="VaccinationsService_2013_12_01_E1">
        <wsdl:port name="VaccinationsPort" binding="tns:VaccinationsBinding_2013_12_01_E1">
            <soap:address location="http://localhost:8080/ddv/ws/vaccinationsService_2013_12_01_E1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
