country-a-service/epps-api/epps-fsk-api/src/main/resources/wsdl/sfskiti43.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright 2009 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->

<definitions
        targetNamespace="urn:ihe:iti:xds-b:2007"
        name="DocumentRepository"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ihe="urn:ihe:iti:xds-b:2007"
        xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:hsuid="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd"
>

    <documentation>IHE XDS.b Document Repository = ITI-43 adaptor = Retrieve Document Set</documentation>

    <types>
        <xsd:schema elementFormDefault="qualified">
            <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="./xsd/IHEXDSB.xsd"/>
            <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="./xsd/rs.xsd"/>
            <xsd:import namespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" schemaLocation="./xsd/medcom.xsd"/>
            <xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="./xsd/wsse.xsd"/>
            <xsd:import namespace="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd" schemaLocation="./xsd/hsuid-1_1.xsd"/>
        </xsd:schema>
    </types>

    <message name="HsuidHeader">
        <part element="hsuid:HsuidHeader" name="HsuidHeader"/>
    </message>
    <message name="MedcomHeader">
        <part name="MedcomHeader" element="medcom:Header"/>
    </message>
    <message name="SecurityHeader">
        <part name="SecurityHeader" element="wsse:Security"/>
    </message>
    <message name="DGWSFault">
        <part name="DGWSFault" element="medcom:FaultCode"/>
    </message>

    <message name="RetrieveDocumentSet_Message">
        <documentation>Retrieve Document Set</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetRequest"/>
    </message>

    <message name="RetrieveDocumentSetResponse_Message">
        <documentation>Retrieve Document Set Response</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetResponse"/>
    </message>

    <portType name="DocumentRepository_PortType">
        <operation name="DocumentRepository_RetrieveDocumentSet">
            <input message="ihe:RetrieveDocumentSet_Message"
                   wsam:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
            <output message="ihe:RetrieveDocumentSetResponse_Message"
                    wsam:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
            <fault name="DGWSFault" message="ihe:DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </fault>
        </operation>
    </portType>

    <binding name="DocumentRepository_Binding_Soap" type="ihe:DocumentRepository_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DocumentRepository_RetrieveDocumentSet">
            <input>
                <soap:header message="ihe:HsuidHeader" part="HsuidHeader" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="DocumentRepository_Service">
        <port name="DocumentRepository_Port_Soap" binding="ihe:DocumentRepository_Binding_Soap">
            <soap:address location="http://servicelocation/DocumentRepository_Service"/>
        </port>
    </service>

</definitions>
