country-a-service/epps-api/epps-fsk-api/src/main/resources/wsdl/sfskiti18.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright 2009 the original author or authors. Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file except
    in compliance with the License. You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
    law or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific
    language governing permissions and limitations under the License.
-->
        
<definitions 
        targetNamespace="urn:ihe:iti:xds-b:2007" 
        name="DocumentRegistry"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ihe="urn:ihe:iti:xds-b:2007"
        xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:hsuid="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd"
        xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
>

    <documentation>IHE XDS.b Document Registry = ITI-18 adaptor = Registry Stored Query</documentation>

    <types>
        <xsd:schema elementFormDefault="qualified">
            <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="./xsd/query.xsd"/>
            <xsd:import namespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" schemaLocation="./xsd/medcom.xsd"/>
            <xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="./xsd/wsse.xsd"/>
            <xsd:import namespace="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd" schemaLocation="./xsd/hsuid-1_1.xsd"/>
        </xsd:schema>
    </types>

    <message name="HsuidHeader">
        <part element="hsuid:HsuidHeader" name="HsuidHeader"/>
    </message>
    <message name="MedcomHeader">
        <part name="MedcomHeader" element="medcom:Header"/>
    </message>
    <message name="SecurityHeader">
        <part name="SecurityHeader" element="wsse:Security"/>
    </message>
    <message name="DGWSFault">
        <part name="DGWSFault" element="medcom:FaultCode"/>
    </message>

    <message name="RegistryStoredQuery_Message">
        <documentation>Registry Stored Query</documentation>
        <part name="body" element="query:AdhocQueryRequest"/>
    </message>

    <message name="RegistryStoredQueryResponse_Message">
        <documentation>Registry Stored Query Response</documentation>
        <part name="body" element="query:AdhocQueryResponse"/>
    </message>

    <portType name="DocumentRegistry_PortType">
        <operation name="DocumentRegistry_RegistryStoredQuery">
            <input message="ihe:RegistryStoredQuery_Message"
                   wsam:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
            <output message="ihe:RegistryStoredQueryResponse_Message"
                    wsam:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
        </operation>
    </portType>

    <binding name="DocumentRegistry_Binding_Soap11" type="ihe:DocumentRegistry_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DocumentRegistry_RegistryStoredQuery">
            <input>
                <soap:header message="ihe:HsuidHeader" part="HsuidHeader" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="DocumentRegistry_Service">
        <port name="DocumentRegistry_Port_Soap11" binding="ihe:DocumentRegistry_Binding_Soap11">
            <soap:address location="http://servicelocation/DocumentRegistry_Service11"/>
        </port>
    </service>
</definitions>
