country-a-service/epps-api/epps-ddv-api/src/main/resources/ddv/schemas/2013/12/01/SSI_EffectuatedPlannedItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:vaccinationcard="http://vaccinationsregister.dk/schemas/2013/12/01"
	targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="SSI_VaccinationPlanIdentifier.xsd"/>
	<include schemaLocation="SSI_VaccinationPlanVersionIdentifier.xsd"/>
	<include schemaLocation="SSI_VaccinationPlanName.xsd"/>
	<include schemaLocation="SSI_VaccinationPlanItemIdentifier.xsd"/>
    <include schemaLocation="SSI_VaccinationPlanItemIndex.xsd"/>
	<include schemaLocation="SSI_VaccinationPlanItemDescription.xsd"/>
	<include schemaLocation="SSI_VaccinationPlanItemSeries.xsd"/>

	
	<element name="EffectuatedPlannedItem" type="vaccinationcard:EffectuatedPlannedItemType">
		<annotation>
			<documentation xml:lang="en-GB">Specification of a planned vaccination</documentation>
			<documentation xml:lang="da-DK">Specifikation af en planlagt vaccination</documentation>
		</annotation>
	</element>
	<complexType name="EffectuatedPlannedItemType">
		<sequence>
			<element name="VaccinationPlanIdentifier" type="vaccinationcard:VaccinationPlanIdentifierType" minOccurs="0"/>
			<element name="VaccinationPlanVersionIdentifier" type="vaccinationcard:VaccinationPlanVersionIdentifierType" minOccurs="0"/>
			<element name="VaccinationPlanName" type="vaccinationcard:VaccinationPlanNameType" minOccurs="0"/>
			<element name="VaccinationPlanItemIdentifier" type="vaccinationcard:VaccinationPlanItemIdentifierType" minOccurs="0"/>
			<element name="VaccinationPlanItemDescription" type="vaccinationcard:VaccinationPlanItemDescriptionType" minOccurs="0"/>
			<element name="VaccinationPlanItemIndex" type="vaccinationcard:VaccinationPlanItemIndexType" minOccurs="0"/>
			<element name="VaccinationPlanItemSeries" type="vaccinationcard:VaccinationPlanItemSeriesType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
