country-a-service/epps-api/epps-ddv-api/src/main/resources/ddv/schemas/2013/12/01/SSI_Effectuated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:vaccinationcard="http://vaccinationsregister.dk/schemas/2013/12/01"
	xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" 
	targetNamespace="http://vaccinationsregister.dk/schemas/2013/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../2005/03/18/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<include schemaLocation="SSI_EffectuatedByName.xsd"/>
 	<include schemaLocation="SSI_AuthorisationIdentifier.xsd"/>  
	<include schemaLocation="SSI_EffectuatedByName.xsd"/>
	<include schemaLocation="SSI_EffectuatedByOrganisationName.xsd"/>
	<include schemaLocation="SSI_EffectuatedByOrganisationName2.xsd"/>
	<include schemaLocation="SSI_EffectuatedByOrganisationType.xsd"/>
	<include schemaLocation="SSI_EffectuatedByOrganisationNumber.xsd"/>
	<include schemaLocation="SSI_EffectuatedInCountryCode.xsd"/>
	<element name="Effectuated" type="vaccinationcard:EffectuatedType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who effectuated the vaccination as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har effektueret vaccinationen, samt datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="EffectuatedType">
		<sequence>
			<element name="EffectuatedDateTime" type="dateTime"/>
			<element name="EffectuatedByName" type="vaccinationcard:EffectuatedByNameType" minOccurs="0"/>
			<element name="AuthorisationIdentifier" type="vaccinationcard:AuthorisationIdentifierType" minOccurs="0"/>
			<element name="PersonCivilRegistrationIdentifier" type="cpr:PersonCivilRegistrationIdentifierType" minOccurs="0"/>
			<element name="EffectuatedByOrganisationName" type="vaccinationcard:EffectuatedByOrganisationNameType" minOccurs="0"/>
			<element name="EffectuatedByOrganisationName2" type="vaccinationcard:EffectuatedByOrganisationName2Type" minOccurs="0"/>
			<element name="EffectuatedByOrganisationType" type="vaccinationcard:EffectuatedByOrganisationTypeType" minOccurs="0"/>
			<element name="EffectuatedByOrganisationNumber" type="vaccinationcard:EffectuatedByOrganisationNumberType" minOccurs="0"/>
			<element name="EffectuatedInCountryCode" type="vaccinationcard:EffectuatedInCountryCodeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
