national-connector/epps-api/epps-cpr-api/src/main/resources/wsdl/xsd/DetGodeCPROpslag-1.0.4-20.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:medcom="urn:oio:medcom:cprservice:1.0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mc100="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" targetNamespace="urn:oio:medcom:cprservice:1.0.4" elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <xs:import namespace="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/" schemaLocation="./DetGodeCPROpslag-1.0.4-8.xsd"/>
    <xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" schemaLocation="./DetGodeCPROpslag-1.0.4-70.xsd"/>
    
    <xs:element name="CurrentGeneralPractitionerStructure" type="medcom:CurrentGeneralPractitionerStructureType">
        <xs:annotation>
            <xs:documentation>Informationer vedr. personens aktuelle læge, og lægens klinik.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="CurrentGeneralPractitionerStructureType">
        <xs:annotation>
            <xs:documentation>Informationer vedr. personens aktuelle læge, og lægens klinik.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mc100:AssociatedGeneralPractitionerStructure">
                <xs:annotation>
                    <xs:documentation>Informationer vedr. personens læge.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CVRnumberIdentifier" type="cvr:CVRnumberIdentifierType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Lægens CVR-nr.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>