NCP/openncp-docker-copy/openncp-configuration/TM_resources/schema/extPHARM/COCT_MT230100UV01_extPHARM.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Giorgio Cangioli (Giorgio Cangioli) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" xmlns:hl7v3="urn:hl7-org:v3" xmlns:pharm="urn:hl7-org:pharm" xmlns:ips="urn:hl7-org:ips" targetNamespace="urn:hl7-org:pharm" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type COCT_MT230100UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2013-07-30T13:51:30
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2015 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				-->
	<!--
*******************************************************************************
Modified COCT_MT230100UV01 schema used as source for the CDA extensions
applied to the POCD_MT000040.Material class

History:
2018.06.29 Giorgio Cangioli, first version
2023.01.30 Giorgio Cangioli, asContent and part quantity: RTO demoted to PQ as for the Pharmacy Template
2023.02.03 Giorgio Cangioli, changes applied per  https://jira.hl7.org/browse/CDA-20668
2023.04.11 Giorgio Cangioli, nested asContent quantity: RTO demoted to PQ as for the Pharmacy Template

*******************************************************************************
-->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2013-07-30T13:51:30
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<!-- HL7 Pharma extensions for the IPS: items removed from the original schema
		<xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
		<xs:include schemaLocation="COCT_MT440001UV09.xsd"/>
	 -->
	<!-- Added to support the HL7 Pharma extensions for the IPS -->
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="hl7v3_extPHARM.xsd"/>
	<!-- IPS extensions: this schema uses a modified version of datatypes-base.xsd -->
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="../coreschemas/datatypes-base.xsd"/>
	<xs:element name="desc" type="hl7v3:ED"/>
	<xs:element name="handlingCode" type="hl7v3:CE"/>
	<xs:element name="formCode" type="hl7v3:CE"/>
	<xs:element name="expirationTime" type="hl7v3:IVL_TS"/>
	<xs:element name="asContent" type="pharm:COCT_MT230100UV01.Content" nillable="true"/>
	<xs:element name="asSpecializedKind" type="pharm:COCT_MT230100UV01.SpecializedKind" nillable="true"/>
	<xs:element name="part" type="pharm:COCT_MT230100UV01.Part" nillable="true"/>
	<xs:element name="ingredient" type="pharm:COCT_MT230100UV01.Ingredient" nillable="true"/>
	<!-- HL7 Pharma extensions for the IPS end -->
	<xs:complexType name="COCT_MT230100UV01.ActiveMoiety">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="quantity" type="hl7v3:RTO" minOccurs="0" maxOccurs="1"/>
			<xs:element name="activeMoiety" type="pharm:COCT_MT230100UV01.ActiveMoietyEntity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassLocatedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.ActiveMoietyEntity">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="asSpecializedKind" type="pharm:COCT_MT230100UV01.SpecializedKind" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassManufacturedMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Agency">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassPublicInstitution" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Approval">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="holder" type="pharm:COCT_MT230100UV01.Holder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="pharm:COCT_MT230100UV01.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="replacement" type="pharm:COCT_MT230100UV01.ReplacementOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassContract" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.AssignedEntity">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="assignedOrganization" type="pharm:COCT_MT230100UV01.Organization" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Author">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="time" type="hl7v3:TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="territorialAuthority" type="pharm:COCT_MT230100UV01.TerritorialAuthority" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationAuthorOriginator" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Characteristic">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Content">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="quantity" type="hl7v3:PQ" minOccurs="0" maxOccurs="1"/>
			<!-- demoted to PQ as agreed for the Pharmacy Template -->
			<!-- <xs:element name="quantity" type="hl7v3:RTO" minOccurs="0" maxOccurs="1"/> -->
			<xs:element name="containerPackagedProduct" type="pharm:COCT_MT230100UV01.PackagedProduct" minOccurs="1" maxOccurs="1"/>
			<!-- HL7 Pharma extensions for the IPS: items removed from the original schema
			<xs:element name="subjectOf1" type="pharm:COCT_MT230100UV01.Subject1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="pharm:COCT_MT230100UV01.Subject5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
-->
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassContent" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Content1">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="quantity" type="hl7v3:PQ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="containerPackagedProduct" type="pharm:COCT_MT230100UV01.PackagedProduct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassContent" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.DistributedProduct">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="distributingOrganization" type="pharm:COCT_MT230100UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassDistributedMaterial" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.EquivalentSubstance">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="quantity" type="hl7v3:RTO" minOccurs="0" maxOccurs="1"/>
			<xs:element name="definingSubstance" type="pharm:COCT_MT230100UV01.Substance" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassIngredientEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Holder">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="role" type="pharm:COCT_MT230100UV01.Role" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationHolder" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.IndirectTarget">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="valuedItem" type="pharm:COCT_MT230100UV01.Holder" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationIndirectTarget" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Ingredient">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="quantity" type="hl7v3:RTO" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ingredientSubstance" type="pharm:COCT_MT230100UV01.Substance" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassIngredientEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.ManufacturedProduct">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="manufacturedProduct" type="pharm:COCT_MT230100UV01.Product" minOccurs="1" maxOccurs="1"/>
			<xs:element name="manufacturerOrganization" type="pharm:COCT_MT230100UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subjectOf1" type="pharm:COCT_MT230100UV01.Subject10" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="pharm:COCT_MT230100UV01.Subject7" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf3" type="pharm:COCT_MT230100UV01.Subject8" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf4" type="pharm:COCT_MT230100UV01.Subject9" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="indirectTargetOf" type="pharm:COCT_MT230100UV01.IndirectTarget" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassManufacturedProduct" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.ManufacturedProduct2">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="manufacturerOrganization" type="pharm:COCT_MT230100UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subjectOf1" type="pharm:COCT_MT230100UV01.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="pharm:COCT_MT230100UV01.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf3" type="pharm:COCT_MT230100UV01.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassManufacturedProduct" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.MaterialKind">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.ObservationGoal">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="hl7v3:ANY" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMoodGoal" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Organization">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="assignedEntity" type="pharm:COCT_MT230100UV01.AssignedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.PackagedProduct">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="formCode" type="hl7v3:CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capacityQuantity" type="hl7v3:PQ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capTypeCode" type="hl7v3:CD" minOccurs="0" maxOccurs="1"/>
			<!-- HL7 Pharma extensions for the IPS: items removed from the original schema
			<xs:element name="asDistributedProduct" type="pharm:COCT_MT230100UV01.DistributedProduct" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asManufacturedProduct" type="pharm:COCT_MT230100UV01.ManufacturedProduct2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		-->
			<xs:element name="asContent" type="pharm:COCT_MT230100UV01.Content1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassContainer" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Part">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantity" type="hl7v3:PQ" minOccurs="0" maxOccurs="1"/>
			<!-- demoted to PQ as agreed for the Pharmacy Template -->
			<!-- <xs:element name="quantity" type="hl7v3:RTO" minOccurs="0" maxOccurs="1"/> -->
			<xs:element name="partProduct" type="pharm:COCT_MT230100UV01.Product" minOccurs="1" maxOccurs="1"/>
			<xs:element name="subjectOf" type="pharm:COCT_MT230100UV01.Subject6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassPart" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Policy">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassROI" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Product">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<!-- added per https://jira.hl7.org/browse/CDA-20668 begin -->
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0"/>
			<xs:element name="desc" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="formCode" type="hl7v3:CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="expirationTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<!-- added per https://jira.hl7.org/browse/CDA-20668 end -->
			<xs:element name="asContent" type="pharm:COCT_MT230100UV01.Content" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asSpecializedKind" type="pharm:COCT_MT230100UV01.SpecializedKind" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="part" type="pharm:COCT_MT230100UV01.Part" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ingredient" type="pharm:COCT_MT230100UV01.Ingredient" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassManufacturedMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="approval" type="pharm:COCT_MT230100UV01.Approval" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipReplacement" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Role">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="playingOrganization" type="pharm:COCT_MT230100UV01.Organization" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassRoot" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.SpecializedKind">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="generalizedMaterialKind" type="pharm:COCT_MT230100UV01.MaterialKind" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassIsSpeciesEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject1">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="approval" type="pharm:COCT_MT230100UV01.Approval" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject10">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="observationGoal" type="pharm:COCT_MT230100UV01.ObservationGoal" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject2">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="characteristic" type="pharm:COCT_MT230100UV01.Characteristic" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject3">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="policy" type="pharm:COCT_MT230100UV01.Policy" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject4">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="approval" type="pharm:COCT_MT230100UV01.Approval" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject5">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="policy" type="pharm:COCT_MT230100UV01.Policy" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject6">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="characteristic" type="pharm:COCT_MT230100UV01.Characteristic" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject7">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="characteristic" type="pharm:COCT_MT230100UV01.Characteristic" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject8">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="policy" type="pharm:COCT_MT230100UV01.Policy" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Subject9">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="approval" type="pharm:COCT_MT230100UV01.Approval" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Substance">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0" maxOccurs="1"/>
			<!-- Modified to align with Dataype R1.1
			<xs:element name="name" type="DSET_EN" minOccurs="0" maxOccurs="1"/>
-->
			<xs:element name="name" type="hl7v3:EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="hl7v3:ED" minOccurs="0" maxOccurs="1"/>
			<!-- HL7 Pharma extensions for the IPS: items removed from the original schema
			<xs:element name="asSpecializedKind" type="pharm:COCT_MT230100UV01.SpecializedKind" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asEquivalentSubstance" type="pharm:COCT_MT230100UV01.EquivalentSubstance" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="activeMoiety" type="pharm:COCT_MT230100UV01.ActiveMoiety" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
-->
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassManufacturedMaterial" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.TerritorialAuthority">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
			<xs:element name="territory" type="pharm:COCT_MT230100UV01.Territory" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="governingAgency" type="pharm:COCT_MT230100UV01.Agency" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassTerritoryOfAuthority" use="required"/>
	</xs:complexType>
	<xs:complexType name="COCT_MT230100UV01.Territory">
		<xs:sequence>
			<xs:group ref="hl7v3:InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="hl7v3:InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassState" use="required"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
</xs:schema>
